test/Service References/DataAccess/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BugAccessLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BugAccessLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BugAccessLibrary/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BugAccessLibrary.Entities" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BugAccessLibrary.Entities" minOccurs="0" name="Component" type="q1:Component" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BugAccessLibrary.Entities" minOccurs="0" name="Project" nillable="true" type="q2:Project" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BugAccessLibrary.Entities" minOccurs="0" name="Repoter" nillable="true" type="q3:Employee" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BugAccessLibrary.Entities" minOccurs="0" name="Severity" type="q4:BugSeverity" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BugAccessLibrary.Entities" minOccurs="0" name="Status" type="q5:Status" />
      <xs:element minOccurs="0" name="Test" type="tns:Test" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:simpleType name="Test">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ONE" />
      <xs:enumeration value="TWO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
</xs:schema>